@import "../../style/var.scss";

.#{$css-prefix}drawer {
  position: fixed;

  &-open {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &-close {
    left: 0;
    top: 0;
  }

  &-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $background-color-black;
    z-index: 1;
  }

  &-content {
    position: absolute;
    background-color: $background-color-white;
    z-index: 2;
    box-shadow: 0 0 3px 1px rgba($color: #000000, $alpha: 0.2);
  }

  &-top &-content {
    top: 0;
    left: 0;
    width: 100%;
  }

  &-bottom &-content {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &-right &-content {
    right: 0;
    top: 0;
    height: 100%;
  }

  &-left &-content {
    left: 0;
    top: 0;
    height: 100%;
  }
}
