@import "../../style/var.scss";

.#{$css-prefix}header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 40px;

  &-logo {
    font-weight: 900;
    line-height: 100px;
    font-size: 40px;
    color: var(--textTitle);
    user-select: none;
    cursor: pointer;
  }

  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &-nav-item {
    display: inline-block;
    width: 50px;
    font-size: $font-size-middle;
    line-height: 100px;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    color: var(--textNormal);

    &-active {
      color: var(--textTitle);
    }
  }

  &-switch {
    margin-left: 10px;
  }
}