body {
  width: 100%;
  max-width: 720px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 42px 21px;
  font-family: 'PingFangSC-Medium', 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
  background-color: var(--bg);
  transition: background 200ms;
}

body.light {
  --bg: #fff;
  --textNormal: rgba(0,0,0,.87);
  --textTitle: #6990f6;
}

body.dark {
  --bg: #303030;
  --textNormal: #fff;
  --textTitle: rgba(255, 255, 255, 0.7);
}
