$css-prefix: yy-;

$font-size-large: 28px;
$font-size-middle: 14px;
$font-size-small: 12px;

$line-height-large: 46px;
$line-height-middle: 24px;
$line-height-small: 18px;

$transition: 200ms;

$border-color-default: #dcdee2;

$background-color-black: rgba(0,0,0,.87);
$background-color-white: #fff;
