@import "../../style/var.scss";

.#{$css-prefix}loading-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: var(--bg);

  &-inner {
    transition: width $transition linear;
    &-success {
      background-color: var(--loadingBarSuccessBg);
    }
    &-error {
      background-color: var(--loadingBarErrorBg);
    }
  }
}
